@font-face {
	font-family: 'Marvel';
	src: url(../Fonts/marvel\ 2.otf);
}

* {
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-between;
	gap: 2vw;
}

#nav-bar {
	width: 55vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#header-container {
	display: flex;
	gap: 2vw;
	animation: marvel 10s;
	animation-fill-mode: forwards;
	width: 45vw;
	padding-left: 1.5%;
	padding-top: .5%;
	padding-bottom: .5%;
	/* width: 43vw;
	height: 25vh; */
	min-width: 648px;
}

#header-img {
	height: 111px;
	width: 70px;
	animation-fill-mode: forwards;
}

.header-text {
	align-self: flex-end;
	font-size: 96px;
	font-family: 'Marvel';
	font-weight: lighter;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@keyframes marvel {
	0% {
		background-image: url(../Photos/Marvel-Flip.gif);
		background-size: 100%;
	}

	100% {
		background-image: url(../Photos/space.jpg);
		background-size: 100%;
	}
}

@media (max-width: 575px) {
	.header-text {
		align-self: flex-end;
		font-size: 80px;
		font-family: 'Marvel';
		font-weight: lighter;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}
