@font-face {
	font-family: 'Marvel';
	src: url(../Fonts/marvel\ 2.otf);
}

* {
	/* border: .25px solid black; */
	font-size: 10px;
	box-sizing: border-box;
}

header {
	padding: 0;
	margin: 0;
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-around;
	min-height: 75px;
}

.logo {
	padding: 0;
	display: flex;
	font-family: 'Marvel';
	margin: 0;
	height: 10vh;
	width: 50vw;
	gap: 20px;
}

#header-img {
	padding: 0px;
	margin: 0;
	height: 9.5vh;
	align-self: center;
}

.header-text {
	font-size: 5rem;
	margin: 0;
	align-self: flex-end;
	transform: scale(1, 1.4);
}

.nav-bar-div {
	display: flex;
}
