@font-face {
	font-family: 'Marvel';
	src: url(../Fonts/marvel\ 2.otf);
}

* {
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header-container {
	display: flex;
	gap: 2vw;
	animation: marvel 10s;
	animation-fill-mode: forwards;
	width: 45vw;
	padding-left: 1.5%;
	padding-top: .5%;
	padding-bottom: .5%;
	/* width: 43vw;
	height: 25vh; */
	min-width: 216px;
}

#header-img {
	width: 10%;
	height: 15%;
	/* animation: marvel 10s; */
	animation-fill-mode: forwards;
}

.header-text {
	align-self: flex-end;
	font-size: 6.65vw;
	font-family: 'Marvel';
	font-weight: lighter;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@keyframes marvel {
	0% {
		background-image: url(../Photos/Marvel-Flip.gif);
		background-size: 100%;
	}

	100% {
		background-image: url(../Photos/space.jpg);
		background-size: 100%;
	}
}
